<a href="https://colab.research.google.com/github/johnfan7/Fina/blob/master/final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from pathlib import Path

DATA = Path("/content/drive/My Drive/project_files")

In [0]:
!pip install scikit-allel
import allel
import pandas as pd

Collecting scikit-allel
  Downloading https://files.pythonhosted.org/packages/aa/16/7c2c4ebb8376b36a7f302e111605cec3341bb0926213492b73db99bfae2f/scikit-allel-1.2.1.tar.gz (10.8MB)
     |████████████████████████████████| 10.8MB 2.9MB/s
Requirement already satisfied: cython in /usr/local/lib/python3.6/dist-packages (from scikit-allel) (0.29.14)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from scikit-allel) (1.17.4)
Requirement already satisfied: dask[array] in /usr/local/lib/python3.6/dist-packages (from scikit-allel) (1.1.5)
Requirement already satisfied: toolz>=0.7.3; extra == "array" in /usr/local/lib/python3.6/dist-packages (from dask[array]->scikit-allel) (0.10.0)
Building wheels for collected packages: scikit-allel
  Building wheel for scikit-allel (setup.py) ... done
  Created wheel for scikit-allel: filename=scikit_allel-1.2.1-cp36-cp36m-linux_x86_64.whl size=4818616 sha256=22a8db3271fb63f98f107adbb483cd2cdfa42bbcf5fdcea20484d0825081d545
  Stored in directory: /root/.cache/pip/wheels/6e/b7/6c/dcd1dea779f069333d6acc29914831cf33df76ed448f076267
Successfully built scikit-allel
Installing collected packages: scikit-allel
Successfully installed scikit-allel-1.2.1

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
#population annotation of the 2504 individuals
meta = pd.read_csv(DATA/"1kgn_phase3_population.csv")
meta

     Sample name  ...                                   Data collections
0        HG00099  ...  1000 Genomes on GRCh38,1000 Genomes phase 3 re...
1        HG00096  ...  1000 Genomes on GRCh38,1000 Genomes phase 3 re...
2        HG00102  ...  1000 Genomes on GRCh38,1000 Genomes phase 3 re...
3        HG00143  ...  1000 Genomes on GRCh38,1000 Genomes phase 3 re...
4        HG00107  ...  1000 Genomes on GRCh38,1000 Genomes phase 3 re...
...          ...  ...                                                ...
2499     NA21101  ...  1000 Genomes on GRCh38,1000 Genomes phase 3 re...
2500     NA21106  ...  1000 Genomes on GRCh38,1000 Genomes phase 3 re...
2501     NA20906  ...  1000 Genomes on GRCh38,1000 Genomes phase 3 re...
2502     NA21086  ...  1000 Genomes on GRCh38,1000 Genomes phase 3 re...
2503     NA21093  ...  1000 Genomes on GRCh38,1000 Genomes phase 3 re...

[2504 rows x 8 columns]

In [0]:
#LDLR chromosome 19
chr19 = allel.vcf_to_dataframe("/content/drive/My Drive/project_files/ALL.chr19.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz", fields='*', alt_number=2)
chr1 = allel.vcf_to_dataframe("/content/drive/My Drive/project_files/ALL.chr1.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz", fields='*', alt_number=2)
chr7 = allel.vcf_to_dataframe("/content/drive/My Drive/project_files/ALL.chr7.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz", fields='*', alt_number=2)
chr3 = allel.vcf_to_dataframe("/content/drive/My Drive/project_files/ALL.chr3.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz", fields='*', alt_number=2)

In [0]:
chr6 = allel.vcf_to_dataframe("/content/drive/My Drive/project_files/ALL.chr6.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz", fields='*', alt_number=2)

In [0]:
variants6 = chr6[chr6['ID'].isin(['rs3798220', 'rs3798220', 'rs9349379', 'rs1332844', 'rs9369640', 'rs2282143']) ]

variants6

      CHROM        POS         ID REF  ... numalt altlen_1  altlen_2  is_snp
12235     6   12889004  rs1332844   C  ...      1        0         0    True
12587     6   12901441  rs9369640   C  ...      1        0         0    True
12679     6   12903957  rs9349379   A  ...      1        0         0    True
34960     6  160557643  rs2282143   C  ...      1        0         0    True
47440     6  160961137  rs3798220   T  ...      1        0         0    True

[5 rows x 51 columns]

In [0]:
#variants = chr19.loc[chr19.ID == ("rs10417394","rs201102461")]


variants19 = chr19[chr19['ID'].isin(['rs10417394', 'rs201102461', 'rs2302593', 'rs2302593', 'rs3826803', 
                                     'rs113684349', 'rs56150334','rs11667435', 'rs34569645', 'rs6511720', 
                                     'rs11668477', 'rs2228671', 'rs1122608', 'rs7412', 'rs445925']) ]

variants19

      CHROM       POS           ID REF  ... numalt altlen_1  altlen_2  is_snp
11766    19   2109071   rs56150334   C  ...      1        0         0    True
11817    19   2110108  rs113684349   T  ...      1        0         0    True
12250    19   2118692   rs34569645   C  ...      1        0         0    True
12355    19   2121316   rs11667435   C  ...      1        0         0    True
47983    19  10883126    rs3826803   C  ...      1        0         0    True
57090    19  11163601    rs1122608   G  ...      1        0         0    True
58213    19  11195030   rs11668477   A  ...      1        0         0    True
58411    19  11202306    rs6511720   G  ...      1        0         0    True
58684    19  11210912    rs2228671   C  ...      1        0         0    True
58853    19  11215926  rs201102461   G  ...      1        0         0    True
58855    19  11216080   rs10417394   C  ...      1        0         0    True
65101    19  45412079       rs7412   C  ...      1        0         0    True
65197    19  45415640     rs445925   G  ...      1        0         0    True
25164    19  46196634    rs2302593   C  ...      2        0         0    True

[14 rows x 51 columns]

In [0]:
variants1 = chr1[chr1['ID'].isin(['rs11583680', 'rs505151', 'rs2071985', 
                                  'rs41264544', 'rs41264546', 'rs114403769',
                                  'rs11591147', 'rs10889353', 'rs1748195', 
                                  'rs2131925', 'rs4587594', 'rs995000', 'rs17465637',
                                  'rs2378607', 'rs6683071', 'rs3748626', 'rs2936052', 'rs2936051',
                                  'rs12740374', 'rs599839', 'rs646776', 'rs629301', 'rs602633']) ]

variants1

      CHROM        POS           ID REF  ... numalt altlen_1  altlen_2  is_snp
57165     1    7796641    rs2071985   A  ...      1        0         0    True
41990     1   55505647   rs11591147   G  ...      1        0         0    True
41992     1   55505668   rs11583680   C  ...      1        0         0    True
42777     1   55529187     rs505151   G  ...      1        0         0    True
65012     1   63025942    rs2131925   G  ...      1        0         0    True
55        1   63049593    rs1748195   C  ...      1        0         0    True
1496      1   63107526     rs995000   C  ...      1        0         0    True
1765      1   63118196   rs10889353   A  ...      1        0         0    True
2183      1   63133930    rs4587594   G  ...      1        0         0    True
9027      1  109817590   rs12740374   G  ...      1        0         0    True
9052      1  109818306     rs629301   G  ...      1        0         0    True
9063      1  109818530     rs646776   C  ...      1        0         0    True
9146      1  109821511     rs602633   T  ...      1        0         0    True
9170      1  109822166     rs599839   G  ...      1        0         0    True
17669     1  160252914  rs114403769   T  ...      1        0         0    True
49118     1  172548301   rs41264544   C  ...      1        0         0    True
49353     1  172558524   rs41264546   A  ...      1        0         0    True
40502     1  222802376    rs2936052   A  ...      1        0         0    True
40514     1  222802803    rs3748626   T  ...      1        0         0    True
40528     1  222803204    rs2936051   A  ...      1        0         0    True
41036     1  222823529   rs17465637   A  ...      1        0         0    True
43567     1  222919895    rs2378607   T  ...      1        0         0    True
43655     1  222923351    rs6683071   A  ...      1        0         0    True

[23 rows x 51 columns]

In [0]:
variants7 = chr7[chr7['ID'].isin(['rs3110697', 'rs1065782']) ]

variants7

      CHROM       POS         ID REF  ... numalt altlen_1  altlen_2  is_snp
11136     7  45931558  rs1065782   G  ...      1        0         0    True
11752     7  45955029  rs3110697   A  ...      1        0         0    True

[2 rows x 51 columns]

In [0]:
variants3 = chr3[chr3['ID'].isin(['rs2681781', 'rs2777888', 'rs2230590', 'rs1062633', 'rs1491986', 'rs6785549', 'rs39639']) ]

variants3

      CHROM        POS         ID REF  ... numalt altlen_1  altlen_2  is_snp
42020     3   49736565  rs6785549   G  ...      1        0         0    True
42090     3   49739086  rs1491986   C  ...      1        0         0    True
45901     3   49898000  rs2777888   A  ...      1        0         0    True
45907     3   49898273  rs2681781   A  ...      1        0         0    True
46555     3   49924940  rs1062633   T  ...      1        0         0    True
46845     3   49936102  rs2230590   T  ...      1        0         0    True
55315     3  123378534    rs39639   C  ...      1        0         0    True

[7 rows x 51 columns]

In [0]:
variantsALL = pd.concat([variants1, variants3, variants6, variants7, variants19], axis=0)

variantsALL

variantsALL.to_csv("datafile.csv")

In [0]:
topvariantsEAS = variantsALL[variantsALL['EAS_AF_1']>=0.5]

topvariantsEUR = variantsALL[variantsALL['EUR_AF_1']>=0.5]

topvariantsSAS = variantsALL[variantsALL['SAS_AF_1']>=0.5]

topvariantsAMR = variantsALL[variantsALL['AMR_AF_1']>=0.5]

topvariantsAFR = variantsALL[variantsALL['AFR_AF_1']>=0.5]

topvariantsEAS.to_csv("topvariantsEAS.csv")


topvariantsEUR.to_csv("topvariantsEUR.csv")


topvariantsSAS.to_csv("topvariantsSAS.csv")


topvariantsAMR.to_csv("topvariantsAMR.csv")


topvariantsAFR.to_csv("topvariantsAFR.csv")

In [0]:
variantsEURvsAMR = topvariantsEUR[topvariantsEUR['EAS_AF_1']<0.5]

variantsEURvsAMR

      CHROM        POS         ID REF  ... numalt altlen_1  altlen_2  is_snp
55315     3  123378534    rs39639   C  ...      1        0         0    True
47983    19   10883126  rs3826803   C  ...      1        0         0    True

[2 rows x 51 columns]

In [0]:
topvariantsEUR

      CHROM        POS          ID REF  ... numalt altlen_1  altlen_2  is_snp
42777     1   55529187    rs505151   G  ...      1        0         0    True
65012     1   63025942   rs2131925   G  ...      1        0         0    True
9052      1  109818306    rs629301   G  ...      1        0         0    True
9063      1  109818530    rs646776   C  ...      1        0         0    True
9146      1  109821511    rs602633   T  ...      1        0         0    True
9170      1  109822166    rs599839   G  ...      1        0         0    True
40514     1  222802803   rs3748626   T  ...      1        0         0    True
41036     1  222823529  rs17465637   A  ...      1        0         0    True
43567     1  222919895   rs2378607   T  ...      1        0         0    True
43655     1  222923351   rs6683071   A  ...      1        0         0    True
42020     3   49736565   rs6785549   G  ...      1        0         0    True
42090     3   49739086   rs1491986   C  ...      1        0         0    True
55315     3  123378534     rs39639   C  ...      1        0         0    True
12235     6   12889004   rs1332844   C  ...      1        0         0    True
12587     6   12901441   rs9369640   C  ...      1        0         0    True
11752     7   45955029   rs3110697   A  ...      1        0         0    True
47983    19   10883126   rs3826803   C  ...      1        0         0    True

[17 rows x 51 columns]

In [0]:

topvariantsEAS

      CHROM        POS          ID REF  ... numalt altlen_1  altlen_2  is_snp
57165     1    7796641   rs2071985   A  ...      1        0         0    True
42777     1   55529187    rs505151   G  ...      1        0         0    True
65012     1   63025942   rs2131925   G  ...      1        0         0    True
9052      1  109818306    rs629301   G  ...      1        0         0    True
9063      1  109818530    rs646776   C  ...      1        0         0    True
9146      1  109821511    rs602633   T  ...      1        0         0    True
9170      1  109822166    rs599839   G  ...      1        0         0    True
40514     1  222802803   rs3748626   T  ...      1        0         0    True
41036     1  222823529  rs17465637   A  ...      1        0         0    True
43567     1  222919895   rs2378607   T  ...      1        0         0    True
43655     1  222923351   rs6683071   A  ...      1        0         0    True
42020     3   49736565   rs6785549   G  ...      1        0         0    True
42090     3   49739086   rs1491986   C  ...      1        0         0    True
12235     6   12889004   rs1332844   C  ...      1        0         0    True
12587     6   12901441   rs9369640   C  ...      1        0         0    True
12679     6   12903957   rs9349379   A  ...      1        0         0    True
11752     7   45955029   rs3110697   A  ...      1        0         0    True

[17 rows x 51 columns]

In [0]:
topvariantsSAS

      CHROM        POS          ID REF  ... numalt altlen_1  altlen_2  is_snp
57165     1    7796641   rs2071985   A  ...      1        0         0    True
42777     1   55529187    rs505151   G  ...      1        0         0    True
65012     1   63025942   rs2131925   G  ...      1        0         0    True
9052      1  109818306    rs629301   G  ...      1        0         0    True
9063      1  109818530    rs646776   C  ...      1        0         0    True
9146      1  109821511    rs602633   T  ...      1        0         0    True
9170      1  109822166    rs599839   G  ...      1        0         0    True
40514     1  222802803   rs3748626   T  ...      1        0         0    True
41036     1  222823529  rs17465637   A  ...      1        0         0    True
43567     1  222919895   rs2378607   T  ...      1        0         0    True
43655     1  222923351   rs6683071   A  ...      1        0         0    True
42020     3   49736565   rs6785549   G  ...      1        0         0    True
42090     3   49739086   rs1491986   C  ...      1        0         0    True
55315     3  123378534     rs39639   C  ...      1        0         0    True
12235     6   12889004   rs1332844   C  ...      1        0         0    True
12587     6   12901441   rs9369640   C  ...      1        0         0    True
12679     6   12903957   rs9349379   A  ...      1        0         0    True
11752     7   45955029   rs3110697   A  ...      1        0         0    True
47983    19   10883126   rs3826803   C  ...      1        0         0    True

[19 rows x 51 columns]